@font-face {
  font-family: 'Spartan', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
}

:root {
  /* Custom defined colors */
  /* Theme 1 */
  --very-dark-desaturated-blue-main: hsl(222, 26%, 31%);
  --very-dark-desaturated-blue-keypad: hsl(223, 31%, 20%);
  --very-dark-desaturated-blue-screen: hsl(224, 36%, 15%);
  --desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
  --desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);
  --red-key-background: hsl(6, 63%, 50%);
  --dark-red-key-shadow: hsl(6, 70%, 34%);
  --light-grayish-orange-key-background: hsl(30, 25%, 89%);
  --grayish-orange-key-shadow: hsl(28, 16%, 65%);
  --very-dark-grayish-blue-text: hsl(221, 14%, 31%);


  /* Positioning */
  --key-shadow-x: 0px;
  --key-shadow-y: 3px;
}

.flex-grid {
  display:flex;
  flex-direction: column;
}

.flex-row{
  display:flex;
  height: 0px;
  flex-grow:1;
}

.flex-row > *{
  width: 0px; /* remove default width to let flexbox handle resizing */
  flex-grow:1;
}

.shadowed {
  border-radius: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body{
  background-color: var(--very-dark-desaturated-blue-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  font-family: Spartan, sans-serif;
}

/* --- Calculator --- */
#calculator {
  margin:auto;
  display:flex;
  flex-direction: column;
  width: calc(min(500px, 90vw));
}

#calculator > * {
  --key-font-max: 24px;
  --key-font-min: 20px;
  --text-number-size-ratio: 0.7;
  margin: 10px;
}

/* --- Header --- */
#header {
  display:flex;
  justify-content: space-between;
}

#header h1{
  margin-top: 20px;
  margin-bottom:0px;
}

/* --- Theme Toggle --- */
#theme-selector {
  display:flex;
  align-items: center;
}

#theme-label{
  margin: 10px;
}

#theme-toggle{
  margin: 10px;
  height: 50px;
  width: 60px;
}

#theme-toggle > div {
  text-align: center;
  align-items: center;
}

/* --- Keypad --- */
#keypad{
  padding: 10px;
  height: 350px;
  background-color: var(--very-dark-desaturated-blue-keypad)
}

#keypad > div > button {
  font-family: Spartan, sans-serif;
  margin: clamp(0px, 1vw, 8px);
  border-radius: 10px;
  font-size: clamp(var(--key-font-min), 1vw, var(--key-font-max));
  color: var(--very-dark-grayish-blue-text);
  border: none;
  background-color: var(--light-grayish-orange-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--grayish-orange-key-shadow);
}
#keypad > div > button.text-key{
  font-size: clamp(calc(var(--key-font-min) * 0.7), 4vw, calc(var(--key-font-max) * 0.8));
}

#keypad > div > button.strong-key {
  color: white;
  background-color: var(--red-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--dark-red-key-shadow)
}

#keypad > div > button.emphasized-key {
  color: white;
  background-color: var(--desaturated-dark-blue-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--desaturated-dark-blue-key-shadow);
}

#keypad > div > button:active {
  transform: translate(var(--key-shadow-x), var(--key-shadow-y));
}

/* --- Screen --- */
#screen {
  text-align:right;
  font-size: clamp(var(--key-font-min) * 1, 8vw, var(--key-font-max) * 1.4);
  padding: 0px clamp(15px, 4vw,32px);
  border-radius: 10px;
  background-color: var(--very-dark-desaturated-blue-screen)
}

.attribution {
  text-align: center;
}

.attribution > * > a {
  color:lightblue;
}

.attribution > * > a:visited {
  color:lightseagreen;
}