@font-face {
  font-family: 'Spartan', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
}

@font-face {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
}

:root {
  /* Custom defined colors */
  /* Theme 1 */
  --theme-1-container: hsl(222, 26%, 31%);
  --theme-1-screen: hsl(224, 36%, 15%);
  --theme-1-keypad: hsl(223, 31%, 20%);
  --theme-1-text: hsl(221, 14%, 31%);
  --theme-1-key-background: hsl(30, 25%, 89%);
  --theme-1-key-shadow: hsl(28, 16%, 65%);
  --theme-1-emphasis-key-background: hsl(225, 21%, 49%);
  --theme-1-emphasis-key-shadow: hsl(224, 28%, 35%);
  --theme-1-strong-key-background: hsl(6, 63%, 50%);
  --theme-1-strong-key-shadow: hsl(6, 70%, 34%);

  /* Theme 2 */
  --theme-2-container: hsl(0, 0%, 90%);
  --theme-2-screen: hsl(0, 0%, 93%);
  --theme-2-keypad: hsl(0, 5%, 81%);
  --theme-2-text: hsl(60, 10%, 19%);
  --theme-2-key-background: hsl(45, 7%, 89%);
  --theme-2-key-shadow: hsl(35, 11%, 61%);
  --theme-2-emphasis-key-background: hsl(185, 42%, 37%);
  --theme-2-emphasis-key-shadow: hsl(185, 58%, 25%);
  --theme-2-strong-key-background: hsl(25, 98%, 40%);
  --theme-2-strong-key-shadow: hsl(25, 99%, 27%);

  /* Theme 3 */
  --theme-3-container: hsl(268, 75%, 9%);
  --theme-3-screen: hsl(268, 71%, 12%);
  --theme-3-keypad: hsl(268, 71%, 12%);
  --theme-3-text: hsl(52, 100%, 62%);
  --theme-3-key-background: hsl(268, 47%, 21%);
  --theme-3-key-shadow: hsl(290, 70%, 36%);
  --theme-3-emphasis-key-background: hsl(281, 89%, 26%);
  --theme-3-emphasis-key-shadow: hsl(285, 91%, 52%);
  --theme-3-strong-key-background: hsl(176, 100%, 44%);
  --theme-3-strong-key-shadow: hsl(177, 92%, 70%);

  /* Positioning */
  --key-shadow-x: 0px;
  --key-shadow-y: 3px;
  --attribution-length: 1em;
}

.flex-grid {
  display:flex;
  flex-direction: column;
}

.flex-row{
  display:flex;
  height: 0px;
  flex-grow:1;
}

.flex-row > *{
  width: 0px; /* remove default width to let flexbox handle resizing */
  flex-grow:1;
}

.shadowed {
  border-radius: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Spartan, sans-serif;
}
#container.theme-1 { 
  background-color: var(--theme-1-container);
  color: white;
}
#container.theme-2 { 
  background-color: var(--theme-2-container);
  color: var(--theme-2-text);
}
#container.theme-3 {
  background-color: var(--theme-3-container);
  color: var(--theme-3-text);
}

/* --- Calculator --- */
#calculator {
  margin:auto;
  display:flex;
  flex-direction: column;
  width: calc(min(500px, 90vw));
}

#calculator > * {
  --key-font-max: 24px;
  --key-font-min: 20px;
  --text-number-size-ratio: 0.7;
  margin: 10px;
}

/* --- Header --- */
#header {
  display:flex;
  justify-content: space-between;
}

#header h1{
  margin-top: 20px;
  margin-bottom:0px;
}

/* --- Theme Toggle --- */
#theme-selector {
  display:flex;
  align-items: center;
}

#theme-label{
  margin: 10px;
}

#theme-toggle{
  margin: 10px;
  height: 50px;
  width: 60px;
}

#theme-toggle > div {
  text-align: center;
  align-items: center;
}

/* --- Keypad --- */
#keypad{
  padding: 10px;
  height: 350px;
}

#keypad.theme-1 {background-color: var(--theme-1-keypad);}
#keypad.theme-2 {background-color: var(--theme-2-keypad);}
#keypad.theme-3 {background-color: var(--theme-3-keypad);}

#keypad > div > button {
  font-family: Spartan, sans-serif;
  margin: clamp(1px, 1vw, 8px);
  border-radius: 10px;
  font-size: clamp(var(--key-font-min), 1vw, var(--key-font-max));
  border: none;
}

#keypad > div > button.text-key{
  font-size: clamp(calc(var(--key-font-min) * 0.7), 4vw, calc(var(--key-font-max) * 0.8));
}

/* Normal Keys */
#keypad.theme-1 > div > button {
  color: var(--theme-1-text);
  background-color: var(--theme-1-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-1-key-shadow);
}
#keypad.theme-2 > div > button {
  color: var(--theme-2-text);
  background-color: var(--theme-2-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-2-key-shadow);
}
#keypad.theme-3 > div > button {
  color: var(--theme-3-text);
  background-color: var(--theme-3-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-3-key-shadow);
}

/* Strong keys */
#keypad.theme-1 > div > button.strong-key {
  color: white;
  background-color: var(--theme-1-strong-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-1-strong-key-shadow)
}
#keypad.theme-2 > div > button.strong-key {
  color: white;
  background-color: var(--theme-2-strong-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-2-strong-key-shadow)
}
#keypad.theme-3 > div > button.strong-key {
  color: white;
  background-color: var(--theme-3-strong-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-3-strong-key-shadow)
}

/* Emphasized Keys */
#keypad.theme-1 > div > button.emphasized-key { 
  color: white;
  background-color: var(--theme-1-emphasis-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-1-emphasis-key-shadow);
}
#keypad.theme-2 > div > button.emphasized-key {
  color: white;
  background-color: var(--theme-2-emphasis-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-2-emphasis-key-shadow);
}
#keypad.theme-3 > div > button.emphasized-key {
  color: white;
  background-color: var(--theme-3-emphasis-key-background);
  box-shadow: var(--key-shadow-x) var(--key-shadow-y) var(--theme-3-emphasis-key-shadow);
}

#keypad > div > button:active {
  transform: translate(var(--key-shadow-x), var(--key-shadow-y));
  box-shadow: 0 0 black;
}
/* --- Screen --- */
#screen {
  text-align:right;
  font-size: clamp(var(--key-font-min) * 1, 8vw, var(--key-font-max) * 1.4);
  padding: 0px clamp(15px, 4vw,32px);
  border-radius: 10px;
}

#screen.theme-1 {
  background-color: var(--theme-1-screen);
  color: var(--theme-1-screen-text);
}
#screen.theme-2 {
  background-color: var(--theme-2-screen);
  color: var(--theme-2-screen-text);
}
#screen.theme-3 {
  background-color: var(--theme-3-screen);
  color: var(--theme-2-screen-text);
}


.attribution {
  position:absolute;
  bottom:0px;
  width: 100vw;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 20px;
  text-align: center;
}

.attribution > p {
  margin:0px;
  padding: calc(var(--attribution-length) / 2);
}

.attribution.theme-1{
  background-color: var(--theme-1-keypad);
  color:white;
}
.attribution.theme-1{
  background-color: var(--theme-2-keypad);
  color:white;
}
.attribution.theme-1{
  background-color: var(--theme-3-keypad);
  color:white;
}

.attribution.theme-1 > * > a {
  color:rgb(152, 152, 216);
}

.attribution.theme-1 > * > a:visited {
  color:rgb(174, 101, 196);
}

